<!DOCTYPE html>
<html lang="en" class="scroll-smooth select-none">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/output.css">
    <link rel="stylesheet" href="../src/external.css">
    <title>HavenHomes - Home</title>
</head>
<body class="font-comfortaa">
    <nav class="fixed bg-white text-bad-0 flex items-center justify-between w-full px-3 py-2 border-b-2">
        <a href="index.html">
            <div class="flex items-center">
                <img class="w-10" src="../public/images/logo-only-green.png" alt="">
                <span class="ml-2 font-bold text-2xl">HavenFoods</span>
            </div>
        </a>
        <div>
            <a href="index.html"><span class="link">Home</span></a>
            <a href="about.html"><span class="link">About</span></a>
            <a href="contact.html"><span class="link">Contacts</span></a>
        </div>
        <button class="sbtn py-1 px-3">Account</button>
    </nav>
    <section class="h-lvh max-sm:h-over w-full md:bg-[url('../public/images/about2.png')] bg-cover bg-left bg-no-repeat flex items-center pl-9 border-solid border-b2" id="About">
        <div class="text-black md:w-6/12 text-left">
            <h1 class="text-6xl max-sm:text-4xl font-bold underline underline-offset-8 text-bad-0">&nbsp; About Us</h1><br>
            <span class="max-sm:text-sm">
                Welcome to HavenFoods, where we revolutionize the way offices and various
                locations enjoy their meals. Since our inception, we've been dedicated to
                providing hassle-free meal solutions that cater to diverse dietary needs.
                With our unique approach, you won't need to worry about ordering specific dishes
                – instead, you'll enjoy the convenience of our daily meal plans. Whether you opt
                for our regular meal plan or require special accommodations like vegan options,
                we've got you covered. Our team ensures that each meal is carefully crafted with
                quality ingredients, cooked to perfection, and delivered fresh to your location.
                Say goodbye to mealtime stress and hello to delicious, wholesome lunches with HavenFoods.
            </span><br><br>
            <span class="max-sm:text-sm">
                <b class="text-2xl font-bold underline underline-offset-8 text-bad-0">Our Goals &nbsp;&nbsp;</b><br><br>
                1. Facilitate a sustainable, traceable, and ethical food economy. <br>
                2. Support the preservation of ecosystems while enabling small-scale farmers and producers to access the market.<br>
                3. Serve as a conduit for transparent communication across the value chain to enable our partners to make informed decisions.<br>
                4. Protect our customers’ interests through exemplary service levels and proactive information sharing.<br>
            </span>
        </div>
    </section>
</body>
</html>