<!DOCTYPE html>
<html lang="en" class="scroll-smooth select-none">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/output.css">
    <link rel="stylesheet" href="../src/external.css">
    <title>HavenHomes - Contact</title>
</head>
<body class="font-comfortaa bg-[url('../public/images/contact.png')]">
    <nav class="fixed bg-white text-bad-0 flex items-center justify-between w-full px-3 py-2 border-b-2">
        <a href="index.html">
            <div class="flex items-center">
                <img class="w-10" src="../public/images/logo-only-green.png" alt="">
                <span class="ml-2 font-bold text-2xl">HavenFoods</span>
            </div>
        </a>
        <div>
            <a href="../index.html"><span class="link">Home</span></a>
            <a href="about.html"><span class="link">About</span></a>
            <a href="contact.html"><span class="link">Contacts</span></a>
        </div>
        <a href="/views/signin.html"><button class="sbtn py-1 px-3">Account</button></a>
    </nav>
    <section class="h-lvh bg-green-900 max-sm:h-over w-full md:bg-[url('../public/images/contact.png')] bg-cover bg-left bg-no-repeat flex items-center md:pl-24 border-solid border-b2 pt-16" id="Contact">
        <form action="" class="flex flex-col h-5/6">
            <h1 class="text-6xl font-bold text-bad-0 max-sm:text-sm">Contact Us</h1><br>
            <input class="input h-8 py-2" type="text" name="" placeholder="Enter Your Name*" autocomplete="off" aria-autocomplete="off"><br>
            <input class="input h-8 py-2" type="text" name="" placeholder="Enter Your Email*" autocomplete="off" aria-autocomplete="off"><br>
            <input class="input h-8 py-2" type="text" name="" placeholder="Enter Your Phone Number*" autocomplete="off" aria-autocomplete="off"><br>
            <input class="input h-8 py-2" type="text" name="" placeholder="Enter Your Phone subject*" autocomplete="off" aria-autocomplete="off"><br>
            <textarea class="input pt-2" name="" id=""  rows="8" placeholder="Message*" autocomplete="off" aria-autocomplete="off"></textarea><br> 
            <button class="tbutton">Submit</button>
        </form>
    </section>
</body>
</html>