<!DOCTYPE html>
<html lang="en" class="font-comfortaa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/output.css">
    <link rel="stylesheet" href="../src/external.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">
    <title>HavenFoods - Sign In</title>
</head>
<body class="flex items-center justify-center h-lvh">
    <div class="container fcolor">
        <div class="flex justify-center w-1/2 h-full bg-white rounded-l-lg">
            <form action="" class="flex flex-col justify-center h-full w-4/6 overflow-hidden">
                <h1 class="text-2xl font-bold text-center">Connect</h1><br>
                <input type="email" class="field" placeholder="Email" autocomplete="off" aria-autocomplete="none"><br>
                <input type="password" class="field" placeholder="Password" autocomplete="off" aria-autocomplete="none"><br>
                <button class="btn">Log In</button>
                <a class="text-right mt-1 mr-2" href="signin.html"><span class="cursor-pointer text-sm">No account?</span></a>
            </form>
        </div>
        <div class="flex justify-center items-center w-1/2 h-full">
            <img class="w-40" src="../public/images/logo-white.png" alt="">
        </div>
    </div>
</body>
</html>